<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>spotiterm</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='src/css/style_register.css') }}">
	<!--Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	{%- with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<script>
			alert('{{ message }}');
			</script>
		{% endfor %}
	{% endif %}
	{% endwith -%}

	<div id="header-container">
		<div class="header-item">
			<a href="index" class="link">[spotiterm]</a>
		</div>
	</div>


	<div id="body-container">
		<div class="body-item">
			<div id="login-container">
				<form action="/register/addAccount" method="post">
					<input class="login-item" type="text" placeholder="[username]" name="user" required>
					<input class="login-item" type="password" placeholder="[password]" name="passwd" required>
					<input class="login-item" type="text" placeholder="[profile photo url]" name="pfplink" required>
					<div style="font-size: 13px;">a discord pfp url is better ! more <a href="https://www.alphr.com/download-discord-profile-picture/" class="link" target="_blank"><u>here</u></a> or ^^pp with <a href="https://koya.gg" class="link" target="_blank"><u>Koya</u></a> bot.</div>
					<button class="logbutton-item" type="submit">[register]</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>